* {
    box-sizing: border-box;
    font-family: 'Poppins', 'Montserrat';
  }
  
  body {
    margin: 0;
    display: flex;
    height: 100%;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    width: 100%;
  }
  
  .left-panel {
    flex: 1;
    background: url('images/login_img.png') no-repeat center center/cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right-panel {
    flex: 1;
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat';
  }
  
  .login-title {
    font-size: 50px;
    font-family: 'poppins';
    font-weight: bold;
    color: #4c0000;
    margin-bottom: 20px;
    margin-top: -30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  input, select {
    padding: 10px;
    border: 1px solid #4c0000;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
.custom-dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.selected {
  padding: 10px;
  border: 1px solid #4c0000;
  border-radius: 5px;
  background-color: #fff;
  font-family: 'Poppins';
  cursor: pointer;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #4c0000;
  border-top: none;
  background-color: #fff;
  z-index: 999;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

.options.active {
  display: block;
}

.option {
  padding: 10px;
  font-family: 'Poppins';
  cursor: pointer;
  color: #000;
  background-color: #fff;
}

.option:hover {
  background-color: #560202;
  color: #fff;
}

  
  button {
    padding: 15px;
    margin-top: 10px;
    background-color: #560202;
    color: white;
    border: none;
    border-radius: 25px;
    font-family: 'Poppins';
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
  }
  
button:hover {
    background-color: #7d0000;
}
